<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="layout :: head"></head>

<body>
    <div th:replace="layout :: nav"></div>

    <h1>Hello world</h1>

    <h2>This application optimizes Airbnb...wow!!!</h2>

    <h3>Ethiopia</h3>
    <h3>Ethiopia</h3>
    <h3>Ethiopia</h3>
    <h3>Ethiopia</h3>
    <h3>Ethiopia</h3>
    <h3>Ethiopia</h3>
    <h3>Ethiopia</h3>

    <footer th:replace="layout :: footer"></footer>
    <div th:replace="layout :: scripts"></div>
</body>

</html>