<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:fragment="head">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="A simple weather that presents Airbnb data from MongoDB elegantly."/>

    <link rel="icon" th:href="@{/favicon.png}" />

    <link rel="stylesheet" th:href="@{/vendor/materialize/css/materialize.css}" />
    <link rel="stylesheet" th:href="@{/vendor/codrops/css/cs-select.css}" />
    <link rel="stylesheet" th:href="@{/vendor/codrops/css/cs-skin-border.css}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" th:href="@{/app.css}" />

    <link rel="stylesheet" href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

    <title>OptimizeAirbnb | Optimize Price</title>

    <!-- //TODO: Consolidate chart scripts into their own .js files for brevity...don't put them all here-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

</head>

<body>
    <div th:replace="layout :: nav"></div>

    <!-- TODO:be Condense these inputs into fragments to avoid repeating code -->
    <!-- TODO:be Make sure that you implement input validation like checking if it's a number and in San Francisco -->
    <div class="container space-bottom form-box">

        <div class="row">
            <div class="col s12">
                <h1 class="title">Listing Price Optimizer</h1>
                <h2 class="instructions">Enter your latitude and longitude below</h2>
                <div class="subtitle">This page will find the Ideal Price Per Night For Max Bookings Based On Area.</div>
            </div>
        </div>

        <form th:action="@{/price-optimization}" method="post">

            <div class="row">
                <div class="col s12 l8">
                    <p class="form-field-title">Enter the Latitude: </p><input type="text" id="latitude" name="latitude"/>
                </div>
            </div>

            <div class="row">
                <div class="col s12 l8">
                    <p class="form-field-title">Enter the Longitude: </p><input type="text" id="longitude" name="longitude"/>
                </div>
            </div>

            <div class="row">
                <div class="col s12 l8">
                    <button type="submit" class="button" text="Estimate Potential Income">Get Optimal Pricing</button>
                </div>
            </div>

        </form>

        <div th:if="${optimizedPrice != null}">
            <h3 style="color:white;">Your neighborhood appears to be close to:</h3>
            <p th:text="${neighborhood}" style="color:white;"></p>

            <h3 style="color:white;">The optimized price for your booking per day based on your area's highest performing listings should be: </h3>
            <p th:text="${optimizedPrice}" style="color:white;"></p>

        </div>


    </div>

    <footer th:replace="layout :: footer"></footer>
    <div th:replace="layout :: scripts"></div>
</body>

</html>